<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:jdbc="http://www.springframework.org/schema/jdbc"
     xmlns:mongo="http://www.springframework.org/schema/data/mongo"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/data/mongo
     http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">
	 
	
	<mongo:mongo host="127.0.0.1" port="27017" />
	<mongo:db-factory id="mongoDbFactory" dbname="iedu_group_net" />
	<mongo:mapping-converter id="converter" />

	<bean name="gridFsTemplate"
		class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
		<constructor-arg ref="mongoDbFactory" />
		<constructor-arg ref="converter" />
	</bean>

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean> 
	 
	<bean id="dataSource"  class="org.apache.commons.dbcp.BasicDataSource">
    	<!-- <property name="driverClassName" value="core.log.jdbc.driver.MysqlDriver" />
    	<property name="url" value="jdbc:mysql://localhost:3306/respacee" />
    	<property name="username" value="respacee" />
    	<property name="password" value="respace20133" /> -->
    	
    	<property name="driverClassName" value="core.log.jdbc.driver.MysqlDriver" />
    	<property name="url" value="jdbc:mysql://52.34.169.106:3306/classicmodels" />
    	<property name="username" value="dev" />
    	<property name="password" value="dev" />
    	
    	<!-- <property name="url" value="jdbc:mysql://localhost:3306/respacee" />
    	<property name="username" value="root" />
    	<property name="password" value="12345" />
    	 -->
    	<property name="testOnBorrow" value="true" />
        <property name="testWhileIdle" value="true" />
        <property name="maxActive" value="10" />
        <property name="validationQuery" value="select 1 from dual" />
  	</bean> 

	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:query/**/*.xml" />
	</bean>

	<bean id="groupDao" class="com.iedu.dao.GroupDao">
	   <property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="mediaDao" class="com.iedu.dao.MediaDao">
	   <property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="membershipDao" class="com.iedu.dao.MembershipDao">
	   <property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="productsDao" class="com.iedu.dao.ProductsDao">
	   <property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="tagDao" class="com.iedu.dao.TagDao">
	   <property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="userDao" class="com.iedu.dao.UserDao">
	   <property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	
	<!-- ========================= BUSINESS OBJECT DEFINITIONS ========================= -->

	<!--
		Activates various annotations to be detected in bean classes:
		Spring's @Required and @Autowired, as well as JSR 250's @Resource.
	-->
	
	<!--
		Instruct Spring to perform declarative transaction management
		automatically on annotated classes.
	-->
	<tx:annotation-driven />
	

	
</beans>